.upload-btn-wrapper {
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn-image {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper :hover {
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.loader {
    padding-top: 40%;
    padding-bottom: 40%;
    padding-left: 40%;
}
